:root {
	/* зеленая цветовая тема по умолчанию */
	--mol_theme_hue: 120deg;

	/* отключение подсветки тапов на мобильных устройствах */
	-webkit-tap-highlight-color: transparent;
}

[finn_ui_page] {
	margin-right: auto;
}

[finn_app_menu] {
	flex-basis: 20em;
	margin-left: auto
}
