[finn_pocket_header] {
	align-items: baseline;
}

[finn_pocket_header_text] {
	padding: var(--mol_gap_text);
	padding-left: var(--finn_ui_gap_half);

	text-shadow: 0 0;
	font-weight: normal;
	font-size: 1.25rem;
}

[finn_pocket_header_quota] {
	color: var(--mol_theme_shade);
}

[finn_ui_stub_empty] {
	padding: var(--finn_ui_gap_half) 0 0 var(--finn_ui_gap_half);
}
